/* @media (min-width: 769px) and (max-width: 991px) { */
.new {
  display: flex;
  flex-direction: column;
}

.info-p {
  margin-top: -100px;
}
.hire-me {
  margin-top: 30px;
}
.items {
  margin: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  /* position: relative; */
  flex-wrap: wrap;
}

.items div {
  flex: 1;
}
.my-img {
  margin-left: 240px;
}
/* } */
